.cm-fold-anywhere-icon {
    cursor: pointer;
    opacity: .5;
    color: var(--color-red);
    transition: opacity .2s ease-in;
}

.cm-fold-anywhere-icon:hover {
    opacity: 1;
}

.cm-fold-anywhere-icon span.fold-icon, .cm-fold-anywhere-icon span.unfold-icon {
    vertical-align: middle;
    height: 22px;
    display: inline-flex;
}


